<?xml version="1.0" encoding="UTF-8"?>

<div ng-controller="UVsModulesCtrl">
	<div class="row">
		<div class="page-header col-md-6 col-md-offset-3">
			<h2>Ajouter UV</h2>
			<form role="form" ng-submit="registeruv()">
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Intitul&eacute;?" ng-model="newUV.intitule" required />
  				</div>
  				<div class="form-group">
    				<input type="number" class="form-control input-lg" placeholder="Ann&eacute;e ?" ng-model="newUV.annee" required />
    			</div>
  				<div class="form-group">
    				<input type="number" class="form-control input-lg" placeholder="Nombre élèves ?" ng-model="newUV.nbEleves" required />
    			</div>
  				<div class="form-group">
    				<input type="number" step="any" class="form-control input-lg" placeholder="Coeff. UP ?" ng-model="newUV.coeffUP" required />
  				</div>
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</form>
		</div>
	</div>
	<div class="row">
		<h2>Liste des UV</h2>
		<table class="table table-hover" ng-show="uvs.length">
			<thead>
				<tr>
					<th>Intitul&eacute;</th>
					<th>Ann&eacute;e</th>
					<th>Ajouter un module &agrave; cet UV</th>
				</tr>
			</thead>
			<tr ng-repeat="uv in uvs | orderBy:orderBy" >
				<td>{{uv.intitule}}</td>
				<td>{{uv.annee}}</td>
				<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ajouter module</button></td>
			</tr>
		</table>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Ajouter un module &agrave; cet UV</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover" ng-show="modules.length">
						<thead>
							<tr>
								<th>Intitul&eacute;</th>
								<th>Ann&eacute;e</th>
								<th>Ajouter</th>
							</tr>
						</thead>
						<tr ng-repeat="module in modules | orderBy:orderBy" >
							<td>{{module.intitule}}</td>
							<td>{{module.annee}}</td>
							<td><button type="button" class="btn btn-primary">Ajouter</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="page-header col-md-6 col-md-offset-3">
			<h2>Ajouter module</h2>
			<form role="form" ng-submit="registermodule()">
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Intitul&eacute;?" ng-model="newModule.intitule" required />
  				</div>
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Ann&eacute;e ?" ng-model="newModule.annee" required />
  				</div>
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</form>
		</div>
	</div>
	<div class="row">
		<h2>Liste des modules</h2>
		<table class="table table-hover" ng-show="modules.length">
			<thead>
				<tr>
					<th>Intitul&eacute;</th>
					<th>Ann&eacute;e</th>
				</tr>
			</thead>
			<tr ng-repeat="module in modules | orderBy:orderBy" >
				<td>{{module.intitule}}</td>
				<td>{{module.annee}}</td>
			</tr>
		</table>
	</div>
</div>