<?xml version="1.0" encoding="UTF-8"?>
<div ng-controller="ModulesCtrl">
	<div class="row">
		<div class="page-header col-md-6 col-md-offset-3">
			<h2>Ajouter module</h2>
			<form role="form" ng-submit="register()">
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Intitul&eacute;?" ng-model="newModule.intitule" required />
  				</div>
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Ann&eacute;e ?" ng-model="newModule.annee" required />
  				</div>
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</form>
		</div>
	</div>
</div>

<div ng-controller="UVsCtrl">
	<div class="row">
		<div class="page-header col-md-6 col-md-offset-3">
			<h2>Ajouter UV</h2>
			<form role="form" ng-submit="register()">
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Intitul&eacute;?" ng-model="newUV.intitule" required />
  				</div>
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Ann&eacute;e ?" ng-model="newUV.annee" required />
  				</div>
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</form>
		</div>
	</div>
</div>