<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a partial, and is templated by AngularJS -->
<div ng-controller="MembersCtrl">
<div class="row">
	<div class="page-header col-md-6 col-md-offset-3">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active col-md-6"><a href="#home" role="tab" data-toggle="tab" ng-click="formActiveTab = 'connexion'" style="text-align: center">Se connecter</a></li>
			<li role="presentation" class="col-md-6"><a href="#profile" role="tab" data-toggle="tab" ng-click="formActiveTab = 'inscription'" style="text-align: center">S'inscrire</a></li>
		</ul>
		<div class="panel-body" ng-show="formActiveTab == 'connexion'">
  		ici le formulaire de connexion (voir onglet s'inscrire)
  		</div>
  		<div class="panel-body" ng-show="formActiveTab == 'inscription'">
  			<form role="form" ng-submit="register()">
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Pr&eacute;nom ?" ng-model="newMember.surname" required />
  				</div>
  				<div class="form-group">
    				<input type="text" class="form-control input-lg" placeholder="Nom ?" ng-model="newMember.name" required />
  				</div>
  				<div class="form-group">
    				<input type="email" class="form-control input-lg" placeholder="Email ?" ng-model="newMember.email" required />
  				</div>
  				<div class="form-group">
					<input type="password" class="form-control input-lg"  placeholder="Mot de passe ?" ng-model="newMember.password" required />
				</div>
				<button type="submit" class="btn btn-primary">Inscription</button>
			</form>
  		</div>
  	</div>
</div>
	<section id="formInsription" style="display: none">
		<article ng-show="members.length">
<!-- 			<ul id="member-list"> -->
<!-- 				<li ng-repeat="member in members | orderBy:orderBy" -->
<!-- 					ng-class="{completed: todo.completed}"> -->
<!-- 					<div class="view"> -->
<!-- 						<input class="mark" type="checkbox" ng-model="member.completed" /> -->
<!-- 						<span>{{member.email}}</span> <span class="close" -->
<!-- 							ng-click="removeMember(member)">x</span> -->
<!-- 					</div> -->
<!-- 				</li> -->
<!-- 			</ul> -->
			<input id="mark-all" type="checkbox" ng-model="allChecked"
				ng-click="markAll(allChecked)" /> <label class="btn btn-info"
				for="mark-all">Tout cocher</label>
			<button class="btn btn-danger" ng-click="clearCompletedTodos()">Supprimer
				les membres coch&eacute;s</button>
		</article>
	</section>
	<h2>Liste des Intervenants</h2>
	<table class="table table-hover" ng-show="members.length">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Pr&eacute;nom</th>
				<th>Email</th>
				<th>Mot de passe</th>
				<th>Suppr.</th>
				<th>Faire un veux</th>
			</tr>
		</thead>
		<tr ng-repeat="member in members | orderBy:orderBy"
			ng-class="{completed: todo.completed}">
			<td><a href="#" editable-text="member.name" 
			onbeforesave="updateMemberName($data,member)">{{member.name}}</a></td>
			<td><a href="#" editable-text="member.surname" 
			onbeforesave="updateMemberSurname($data,member)">{{member.surname}}</a></td>
			<td><a href="#" editable-text="member.email"
			onbeforesave="updateMemberEmail($data,member)">{{member.email}}</a></td>
			<td><a href="#" e-name="password" e-type="password" onbeforesave="updateMemberPassword($data,member)" editable-text="member.password" >{{member.password}}</a></td>
			<td  ng-click="removeMember(member)">x</td>
			<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Faire un veux</button></td>
		</tr>
	</table>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Demander la responsabilit&eacute; d'un module</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover" ng-show="modules.length">
						<thead>
						<tr>
							<th>Intitul&eacute;</th>
							<th>Ann&eacute;e</th>
							<th>Demander</th>
						</tr>
						</thead>
						<tr ng-repeat="module in modules | orderBy:orderBy" >
							<td>{{module.intitule}}</td>
							<td>{{module.annee}}</td>
							<td><button type="button" class="btn btn-primary">Demander</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


<div style="display: none">

	<!-- Standard HTML form, with the submit function bound to the register() function defined in the the controller -->
	<form id="reg" ng-submit="register()">
		<h2>Member Registration</h2>
		<fieldset>
			<legend>Register a member:</legend>
			<!-- Each input is bound to a property on the prototype newMember object -->
			<div>
				<label for="name">Name:</label> <input type="text" name="name"
					id="name" ng-model="newMember.name" placeholder="Your Name"
					required autofocus /> <span class="error" ng-show="errors.name">{{errors.name}}</span>
			</div>
			<div>
				<label for="email">Email:</label> <input type="email" name="email"
					id="email" ng-model="newMember.email" placeholder="Your Email"
					required /> <span class="error" ng-show="errors.email">{{errors.email}}</span>
			</div>
			<div>
				<label for="phoneNumber">Phone #:</label> <input type="tel"
					name="phoneNumber" id="phoneNumber"
					ng-model="newMember.phoneNumber" pattern="[0-9]{10,12}"
					placeholder="Your Phone #" required /> <span class="error"
					ng-show="errors.phoneNumber">{{errors.phoneNumber}}</span>
			</div>

			<!-- We output a list of success messages (appropriately styled!) for the form. -->
			<ul ng-hide="!successMessages" class="success">
				<li ng-repeat="message in successMessages">{{message}}</li>
			</ul>

			<!-- Output the list of error messages if any. -->
			<ul ng-hide="!errorMessages" class="error">
				<li ng-repeat="message in errorMessages">{{message}}</li>
			</ul>

			<!-- There are two buttons, the default submit action (which is bound for the whole form), and a reset button, that clears the form. -->
			<div>
				<input type="submit" id="register" value="Register" /> <input
					type="button" ng-click="reset()" name="cancel" id="cancel"
					value="Cancel" />
			</div>
		</fieldset>
	</form>

	<!-- A list of registered members -->
	<h2>Members</h2>
	<!-- If there are no members registered, instead of showing the table, we show a simple message. -->
	<em ng-show="members.length == 0">No registered members.</em>
	<table ng-hide="members.length == 0" class="simpletablestyle">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone #</th>
				<th>REST URL</th>
			</tr>
		</thead>
		<!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
		<tr ng-repeat="member in members | orderBy:orderBy">
			<td>{{member.id}}</td>
			<td>{{member.name}}</td>
			<td>{{member.email}}</td>
			<td>{{member.phoneNumber}}</td>
			<td><a href="rest/members/{{member.id}}">/rest/members/{{member.id}}</a>
			</td>
	</table>
	<div>
		REST URL for all members: <a href="rest/members">/rest/members</a>
	</div>
	<div>
		<!-- The table has a button to manually refresh the values, in case, for example, someone else adds a member -->
		<input type="button" ng-click="refresh()" name="refresh" id="refresh"
			value="Refresh" />
	</div>
</div>
